* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.my_container {
    max-width: 1200px;
    height: 100vh;
    margin: auto;
    position: relative;
    
}

body {
    font-family: 'Montserrat', sans-serif;
    
}

.img_carousel {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

.my_carousel {
    height: 500px;
    background-color: red;
    width: 100%;
    

}

.my_btn {
    border: none;
    background-color: lightgray;
    width: 2rem;
    border-radius: 50%;
    aspect-ratio: 1/1;
    vertical-align: middle;
}

.next {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translate(-50%);
    z-index: 2;
}

.prev {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%);
    z-index: 2;
}
.active{
    display: block;
}

.controls {
    position: relative;
    height: 500px;
    width: 300px;
}
.img_controls {
    width: 100%;
    object-fit: cover;
    filter: grayscale(100%)
    
}
.grayscale{
    filter: grayscale(0%)
}


.info_img {
position: absolute;
left: 30px;
color: white;
font-weight: bold;
padding-top: 300px;
width: 500px;
height: 500px;
z-index: 200;
text-align: left;
}

h2, p{
    display: none;   
}
.timing_button{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    margin-top: 600px;
    
}
.start{
    margin-right: 1rem;
}